{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Form | Simple Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/css/bootstrap-4.3.1/bootstrap.min.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css\simple-custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/icon/mdi/css/materialdesignicons.min.css' %}">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="col-md-2 sidebar">
					<div class="brand">
						<a href="#" class="brand-name">Simple Admin</a>
					</div>
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a href="{% url 'dashapp:dash_main'%}" class="nav-link"><i class="mdi mdi-monitor"></i> Dashboard</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="mdi mdi-shape-outline"></i> UI Components <span class="badge badge-info">New</span><i class="mdi mdi-chevron-down float-right pr-2"></i></a>
								<div class="collapse" id="collapseExample">
									<a class="nav-link" href="button.html"><i class="mdi mdi-circle-medium"></i> Buttons</a>
								    <a class="nav-link" href="chart.html"><i class="mdi mdi-circle-medium"></i> Chart</a>
								    <a class="nav-link" href="input.html"><i class="mdi mdi-circle-medium"></i> Input</a>
								    <a class="nav-link" href="modal.html"><i class="mdi mdi-circle-medium"></i> Modal</a>
								    <a class="nav-link" href="widget.html"><i class="mdi mdi-circle-medium"></i> Widget</a>
								</div>
							</li>
							<li class="nav-item">
								<a href="{% url 'dashapp:dash_form'%}" class="nav-link active"><i class="mdi mdi-lead-pencil"></i> Form</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'dashapp:dash_table'%}" class="nav-link"><i class="mdi mdi-table"></i> Data Table <button class="btn btn-dark-base btn-rounded float-right btn-sm"><i class="mdi mdi-plus"></i></button></a>
							</li>
						</ul>
					</div>
					<div class="nav-bottom">
						<ul class="nav">
							<li class="nav-item"><a href="{% url 'dashapp:dash_login' %}" class="nav-link"><i class="mdi mdi-account"></i></a></li>
							<li class="nav-item"><a href="#" class="nav-link"><i class="mdi mdi-message"></i></a></li>
							<li class="nav-item"><a href="#" class="nav-link"><i class="mdi mdi-bell"></i></a></li>
							<li class="nav-item"><a href="{% url 'homeapp:welcome' %}" class="nav-link"><i class="mdi mdi-power"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<main class="col-md-9 col-lg-10" role="main">
				<div class="container">
					<div class="content-header mt-2 mb-3">
						<h2 class="text-header">Form</h2>
					</div>
					<div class="alert alert-danger">
						This template is under maintenance!
					</div>
					<div class="row basic mb-3">
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<label class="title-body">Create Employee</label>
									<form method="post" enctype="multipart/form-data" action="{% url 'dashapp:create_user' %}">
										{% csrf_token %}
										<div class="form-group">
											<label for="name-b">Name</label>
											<input type="text" class="form-control" name="Name" id="name-b" placeholder="Alexsander Bambam">
										</div>
										<div class="form-group">
											<label for="email-b">Email</label>
											<input type="text" class="form-control" name="Email" id="email-b" placeholder="bambam@alex.io">
										</div>
										<div class="form-group" >
											<label>Gender: </label>
											<select name="Gender" class="form-select">
												<option value="Female">Female</option>
												<option value="Male">Male</option>
											</select>
										</div>
										<div class="form-group">
											<label for="address-b">Address</label>
											<textarea class="form-control" id="address-b" name="Address" placeholder="Wall St."></textarea>
										</div>
										<div class="form-group">
											<label for="accept-b">
												<input type="checkbox" class="checkbox-input" name="accept" id="accept-b"><label class="rc-label"></label> You accept with our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>
											</label>
										</div>
										<button class="btn btn-water-mid" type="submit">Submit</button>
										<button class="btn btn-secondary" type="reset">Cancel</button>
									</form>
								</div>
							</div>
								{% for msg in messages %}
								<div class="alert {% if 'successful' in msg|lower %} alert-success {% else %} alert-danger {% endif %} mt-2" role="alert">
									{{msg}}
									<script>
										function autorefresh(){
											window.location.reload();
										}
										setInterval(autorefresh, 2000)
									</script>
								</div>
								{% endfor %}
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>


<!-- Jquery -->
<script src="{% static 'vendors\bootstrap\js\jquery-3.3.1\jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'vendors\bootstrap\js\bootstrap-4.3.1\bootstrap.min.js' %}"></script>
<!-- Popper -->
<script src="{% static 'vendors\bootstrap\js/popper\popper.min.js' %}"></script>

</body>
</html>